In [1]:
print("heloo")

heloo

In [3]:
import cassandra
print(cassandra.__version__)

3.25.0

In [6]:
from dotenv import load_dotenv
print(f"Reading Environment Variables")
load_dotenv()

Reading Environment Variables

True

In [7]:
import os

In [8]:
CLIENT_ID = os.getenv('CLIENT_ID')
SECRET_ID = os.getenv('SECRET_ID')

In [9]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': '/config/workspace/secure-connect-cassandra-demo.zip'
}
auth_provider = PlainTextAuthProvider(CLIENT_ID, SECRET_ID)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

result = session.execute("select release_version from system.local")

row = result.one()

# print(row)
if row:
      print(row[0])
else:
      print("An error occurred.")

4.0.0.6816

In [10]:
print(row)

Row(release_version='4.0.0.6816')

In [12]:
# Command to create keyspace in Cassandra
try:
    query = "create keyspace employee_management with replication = {'class' : 'SimpleStrategy', 'replication_factor' : 3}"
    session.execute(query)
    print("Keyspace Created Sucessfully !!")
except Exception as err:
    print("Exception occured while creating Keyspace : ",err)

Exception occured while creating Keyspace :  Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/ea35621f-c6b6-4194-a113-afe10aa39429/database/6f33225c-8e9d-4a6c-87a7-da175c6c110a"

In [ ]:
# Command to Alter the keyspace in Cassandra
try:
    query = "alter keyspace employee_management with replication = {'class' : 'SimpleStrategy', 'replication_factor' : 2}"
    session.execute(query)
    print("Keyspace Altered Successfully !!")
except Exception as err:
    print("Exception Occured while altering Keyspace : ",err)

In [ ]:
# Command to Drop the keyspace in Cassandra
try:
    query = "drop keyspace employee_management"
    session.execute(query)
    print("Keyspace Dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping the Keyspace : ",err)

In [13]:
# Command to use a keyspace
try:
    query = "use key_testing"
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception occured while using Keyspace : ",err)

Inside the keyspace

In [14]:
# Command to create a table inside a keyspace
try:
    query = """create table employee(
        emp_id int,
        emp_name varchar,
        emp_salary int,
        emp_dept varchar,
        emp_email varchar,
        emp_phone varchar,
        primary key (emp_id, emp_dept) 
    )
    """
    session.execute(query)
    print("Table created inside the keyspace")
except Exception as err:
    print("Exception occured while creating the table : ",err)

Table created inside the keyspace

In [15]:
# Alter the table in cassandra to drop a column
try:
    query = "alter table employee drop emp_email"
    session.execute(query)
    print("Column Dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping the column : ",err)

Column Dropped Successfully !!

In [17]:
# Alter table in cassandra to add a new column
try:
    query = "alter table employee add emp_email text"
    session.execute(query)
    print("Column Added Successfully !!")
except Exception as err:
    print("Exception Occured whilw adding the column: ",err)

Column Added Successfully !!

In [ ]:
# Drop a table in cassandra
try:
    query = "drop table employee"
    session.execute(query)
    print("Table dropped successfully !!")
except Exception as err:
    print("Exception Occured while dropping the table: ",err)

In [18]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [19]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [20]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [21]:
# Insert data into cassandra table
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [25]:
# Select query on cassandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print("Select command successfully executed !!")
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Select command successfully executed !!

In [26]:
# Select query on cassandra table
try:
    query = "select * from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [27]:
# Select query for specific columns in cassandra table
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_name='Shashank')
Row(emp_id=2, emp_name='Rahul')
Row(emp_id=4, emp_name='Vishal')
Row(emp_id=3, emp_name='Sunny')

In [28]:
# Select query for specific columns in cassandra table and how to access from Row object
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 1
    for row in result:
        print("Emp ID : ", row[0])
        print("Emp Name : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  1
Emp Name :  Shashank
Emp ID :  2
Emp Name :  Rahul
Emp ID :  4
Emp Name :  Vishal
Emp ID :  3
Emp Name :  Sunny

In [29]:
# Select query for specific columns in cassandra table and how to access from Row object
# Doesn't work
try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 2
    for row in result:
        print("Emp ID : ", row['emp_id'])
        print("Emp Name : ", row['emp_name'])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Exception Occured while selecting the data from table:  tuple indices must be integers or slices, not str

In [30]:
# Write a query to get total count of employees
try:
    query = "select count(*) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(count=4)
4

In [32]:
# Write a query to find maximum salary from employee table
try:
    query = "select max(emp_salary) from employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(system_max_emp_salary=30000)
30000

In [34]:
# Write a query to fileter data from cassandra table or how to use where clause
try:
    query = "select * from employee where emp_name = 'Shashank'"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Exception Occured while selecting the data from table:  Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [35]:
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high

try:
    query = "select * from employee where emp_name = 'Shashank' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [36]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employee where emp_id=2"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [38]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employee where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [ ]:
# We have another composite parition key

primary key ( (employeeid, fname), dept )

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank' # Wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank' # Correct query

In [39]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, sum_salary=10000)

In [40]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', sum_salary=10000)